/*Colors*/
$base-color: #0A0126;
$text-color: white;
$alternate-row-color: #F3F2F7;
$primary-text-dark: #0C0128;
$secondary-text-light: #74718A;

/*Borders*/
$border-radius: 100px;

/*Fonts*/
$default_font: monospace;
